= render "shared/errors", obj: @customer 
= form_for @customer , :html => {:class => 'form-horizontal', role: 'form'} do |f|
  .grid-x.grid-padding-x
    .large-12.cell
      = f.label :name ,"Customer Name"
      = f.text_field :name ,placeholder: "name"
  .grid-x.grid-padding-x
    .large-12.cell
      = f.label :name ,"Address"
      = f.text_area :address, rows: "5"
  = f.submit :class => "button"